<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="filters">

    <h3 class="filters-h3">Filters</h3>
    <button class="reset-btn" id="resetBtn">Reset</button>
    <button class="filters-p" id="btnSearch">Search and Filters
        <svg class="svg-music" width="13" height="8">
            <use class="use-svg" href="/images/sprite-svg.svg#icon-music"></use>
        </svg>
    </button>

</div>
<div class="lupa-full" id="lupaH">

    <div class="lupa">
        <svg class="svg-lupa" width="19" height="19">
            <use class="use-svg" href="/images/sprite-svg.svg#icon-lupa"></use>
        </svg>
        <input class="input-filters" type="search" placeholder="Search" id="searchInput">
    </div>
<div class="btn-sorting">
<div class="btn-sorting" id="sortingBtnDrop">
    <button class="sorting-btn" id="sortingBtn">Sorting
        <svg class="svg-music-rotate" width="13" height="8">
            <use class="use-svg" href="/images/sprite-svg.svg#icon-music"></use>
        </svg>
    </button>
</div>

    <div class="btns" id="sortingDropdown">
        <button class="btn-filter-modal">Default</button>
        <button class="btn-filter-modal">A-Z</button>
        <button class="btn-filter-modal">Z-A</button>

    </div>
    </div>
    <div class="btn-genre-full" id="btnDropgenre">
        <button class="btn-genre">Genre
            <svg class="svg-music" width="13" height="8">
                <use class="use-svg" href="/images/sprite-svg.svg#icon-music"></use>
            </svg>
        </button>

        <div class="btns-genre" id="genreDropdown">

        </div>
        

    </div>
</div>







<!-- <script type="module" src="./src/js/filters.js"></script> -->