/*
* ----------------------------------------------------
* БАЗОВІ СТИЛІ (Mobile First - від 320px)
* ----------------------------------------------------
*/

.feedback-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: #060307;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.feedback-section {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 16px;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    min-height: 100px;
}

.swiper-slide {
    background: transparent;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    min-height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    box-sizing: border-box;
}

/* ТЕКСТ ВІДГУКУ */
.swiper-slide .text {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: normal;
    color: #fff;
    max-width: 90%;
}


.swiper-buttons {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 20;
}


/*
* ----------------------------------------------------
* СТИЛІ ДЛЯ ПЛАНШЕТІВ (min-width: 768px)
* ----------------------------------------------------
*/
@media screen and (min-width: 768px) {
    .feedback-container {
        padding-top: 80px;
        padding-right: 32px;
        padding-bottom: 80px;
        padding-left: 32px;
    }

    .feedback-section {
        gap: 0;
        min-height: 300px;
    }

    .swiper-container {
        min-height: 100px;
        margin-bottom: 16px;
    }

    .swiper-slide .text {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0;
        max-width: 440px;
    }

    .swiper-buttons {
        top: 30px;
        padding: 0 44px;
    }

    .pagination {
        gap: 10px;
        padding: 0;
        margin-top: -20px;
        margin-bottom: 16px;
    }
}

/*
* ----------------------------------------------------
* СТИЛІ ДЛЯ ДЕСКТОПІВ (min-width: 1440px)
* ----------------------------------------------------
*/
@media screen and (min-width: 1440px) {
    .feedback-container {
        width: 1440px;
        padding-top: 112px;
        padding-right: 64px;
        padding-bottom: 112px;
        padding-left: 64px;
    }

    .feedback-section {
        gap: 80px;
        min-height: 397.89px;
    }

    .swiper-container {
        min-height: 100px;
    }

    .swiper-slide .text {
        font-size: 24px;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 0;
        max-width: 770px;
    }

    .swiper-buttons {
        top: 30px;
        padding: 0 48px;
    }

    .pagination {
        gap: 10px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}