btn{
    cursor: pointer;
}
.filters{
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: 16px;
    gap: 12px;
    position: relative;
}
.reset-btn{
    display: none;
}

.filters-p{
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(6, 3, 7, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
border-radius: 12px;
    padding: 10px 24px;
    width: 288px;
    height: 47px;
    font-weight: 500;
        font-size: 18px;
    
        /* line-height: 27px; */
        line-height: 1.5;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: none;
        gap: 18px;
}
.filters-h3{
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 27px; */
        line-height: 1.5;
        color: #fff;
        margin: 0;
}
.svg-music,
.svg-lupa{
    fill: white;
  
}
.input-filters{
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        padding: 8px 12px;
        width: 265px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0);
       
}
.lupa-full {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 12px;
    width: 289px;
    height: 343px;
    background-color: #1e1c1f;
    margin-left: 16px;
    gap: 12px;
}
.lupa {
    position: relative;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
}

.svg-lupa {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: white;

}

.input-filters {
    width: 265px;
    padding-left: 35px;
    height: 48px;
}

.sorting-btn,
.btn-genre{
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px 12px 0 0;
        padding: 8px 12px;
        width: 265px;
        height: 43px;
        background-color: rgba(255, 255, 255, 0);
        font-weight: 400;
            font-size: 18px;
        
            /* line-height: 27px; */
            line-height: 1.5;
            color: #fff;
            text-align: start;
            display: flex;
            align-items: center;
            justify-content: space-between;
}
.svg-music-rotate{
    transform: rotate(180deg);
    fill: #fff;
}
.btns{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0 0 16px 16px;
        padding-top: 24px;
        padding-left: 24px;
        width: 265px;
        height: 161px;
        margin-bottom: 12px;
        background-color: #1e1c1f;
}
.btns.active{
display: flex;
}
.btns-genre{

  
    bottom: 100px;


    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0 0 16px 16px;
        padding-top: 24px;
        padding-left: 24px;
        width: 265px;
        height: 376px;
    gap: 16px;
    background-color: #1e1c1f;
}
.btn-genre.active{
    display: flex;
}
.btn-filter-modal {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #1e1c1f;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 0;
}
.btn-genre{
    display: flex;
        align-items: center;
        justify-content: space-between;
}


/* done mobile */
/* for JS */

    /* .btns {
            display: none;
            flex-direction: column;
            background-color: #1e1c1f;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 0 0 12px 12px;
            width: 304px;
            height: 358px;
            padding: 12px;
            position: absolute;
            z-index: 10;
        }
    
        .btns.active {
            display: flex;
        } */


/* JS */
/* Start another displays */
@media screen and (min-width: 768px) {
    .filters {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 32px;
        height: 48px;
        margin-left: 32px;
    }

    .filters-p {
        max-width: 233px;
        max-height: 47px;
    }

        .lupa-full {
        position: absolute;
        right: 32px;
        }
        .btns{
            right: 100%;
            width: 304px;
                height: 376px;

        }

        .btns-genre{
            width: 304px;
                height: 376px;
                right: 100%;
                top: 100%;
        }
}

@media screen and (min-width: 1280px){
  .filters-p{
    display: none;
  }
  .lupa-full{
    display: flex;
    gap: 12px;
position: static;
margin-left: 64px;
width: 304px;
    height: 48px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        
  }
  .filters{
    margin-left: 64px;
    width: 304px;
        height: 27px;
        margin-bottom: 12px;
        flex-direction: row;
        align-items: center;
        position: relative;
  }
.reset-btn{
  display: block;
  border: none;
    width: 48px;
    height: 27px;
    background-color: transparent;
    font-weight: 500;
        font-size: 18px;
    
        /* line-height: 27px; */
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;

       
}

.btn-filter-modal{
    background: inherit;
}

.btns{
 
position: static; 
background-color: #060307;
width: 304px;
    min-height: 161px;
    margin: 0;
}
.btns-genre{
    position: static;
    background-color: #060307;
}
.input-filters,
.sorting-btn,
.btn-genre{
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        padding: 8px 12px;
        width: 304px;
        height: 48px;
}
.input-filters::placeholder{
    padding-left: 34px;
}


}
